@tailwind base;
@tailwind components;
@tailwind utilities;

.public-DraftStyleDefault-block{
    margin: 3px 0 !important;
    /* display: flex;
    align-items: center; */
}
.rdw-link-decorator-icon {
    display: none !important;
  }
  
  .rdw-editor-wrapper a {
    cursor: pointer;
    margin-top: 0;
  }
